# Default values for eth2-teku.
# This is a YAML-formatted file.

# Kubernetes namespace for Teku beacon chain and validator client deployments, services, secrets, etc.
namespace: teku

# Specify which Ethereum 2.0 testnet to use. If the target network is mainnet, leave this field blank.
ethereumTestnet: prater

# A required field that determines the persistent storage type. Default to nfs.
# Available options: nfs and hostPath.
persistentVolumeType: "nfs"

# NFS configurations. Only need to fill this section when persistentVolumeType is set to "nfs".
nfs:
  # IP address of the NFS server.
  serverIp: 172.20.10.10

securityContext:
  # The user ID will be used to run all processes in the container. The user should have the access to the mounted volume.
  # All directories and files created with the processes are owned by this user.
  runAsUser: 1001
  # The group ID will be used to run all processes in the container. The group should have the access to the mounted volume.
  # If this field is not set, the group ID of the processes will be 0, which means they will have root access.
  # See https://kubernetes.io/docs/tasks/configure-pod-container/security-context/ for more info.
  #
  # All directories and files created with the processes are owned by this group.
  runAsGroup: 2000

# A required section that configures image registry, image name and version tag for beacon chain and validator client.
# Teku currently pushes images to:
#   Docker Hub: https://hub.docker.com/r/consensys/teku
image:
  # The image registry of beacon chain:
  #   Docker Hub: index.docker.io/consensys/teku
  beaconImage: index.docker.io/consensys/teku
  # The image registry of validator:
  #   Docker Hub: index.docker.io/consensys/teku
  validatorImage: index.docker.io/consensys/teku
  # Teku release version. 
  # Check https://github.com/consensys/teku/releases for more info. 
  versionTag: 21.4.1

# A required section that contains beacon chain information.
beacon:
  # This field specifies the name and label for beacon chain deployment, container and service.
  name: beacon
  # The path to the beacon chain data directory. 
  # If persistentVolumeType is set to "nfs", this variable represents the data volume path on NFS.
  # If the type is set to "hostPath", it represents the volume path on the host node.
  dataDirPath: /data/teku/beacon
  # Ethereum 1 node endpoints.
  eth1Endpoints: 
    - http://127.0.0.1:8545
    - http://127.0.0.1:8546
    - http://127.0.0.1:8547
  # TCP and UDP port opened for P2P connection with the beacon node.
  # See https://docs.teku.consensys.net/en/latest/Reference/CLI/CLI-Syntax/#p2p-port for more info.
  p2pPort: 9000

# This field determines how long it will wait before the validator client starts or restarts.
# It's a way to protect the validator client from double attesting or block proposing when the DB is out-of-date.
validatorStartWaitTime: 780

# A required section that contains information for all validator clients
validatorClients:
  # This section contains information for one validator client.
  # "validatorClient1" is the name of this validator client section. You can change it to other strings as long as it's different than other section names.
  validatorClient1:
    # This field specifies the name and label for validator client deployment, container and service.
    name: validator-client-1
    # The path to the validator client data directory.
    # If persistentVolumeType is set to "nfs", this variable represents the data volume path on NFS.
    # If the type is set to "hostPath", it represents the volume path on the host node.
    # It's recommended to have different value for each validator client to avoid using the wrong validator client data.
    dataDirPath: /data/teku/validator-client-1
    # The path to the validator keys directory.
    # It's recommended to have different value for each validator client to avoid using the wrong validator keys.
    validatorKeysDirPath: /data/teku/validator-keys-1
    # The path to the validator key passwords directory.
    # It's recommended to have different value for each validator client to avoid using the wrong validator key passwords.
    validatorKeyPasswordsDirPath: /data/teku/validator-key-passwords-1
    # A mark you want to leave each time the validator client proposes a block.
    # It can be a message or a pixel (on the graffiti wall).
    # See https://beaconcha.in/charts/graffiti_wordcloud for example.
    graffiti: "eth2 x k8s"

  # You can add more validator clients below. The name of a new validator client section can be validatorClient2 or anything else that you prefer
  # as long as the section has the same indentation as other validator client sections and contains all the fields under the section name, e.g.
  # validatorClient2:
  #   name: validator-client-2
  #   dataDirPath: /data/teku/validator-client-2
  #   validatorKeysDirPath: /data/teku/validator-keys-2
  #   validatorKeyPasswordsDirPath: /data/teku/validator-key-passwords-2
  #   graffiti: "eth2 x k8s"
