{{- with .Values.beacon }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .name }}
  namespace: {{ $.Values.namespace }}
  labels:
    app: {{ .name }}
spec:
  selector:
    matchLabels:
      app: {{ .name }}
  replicas: 1
  strategy: 
    type: Recreate
  template:
    metadata:
      labels:
        app: {{ .name }}
    spec:
      containers:
      - name: {{ .name }}
        image: "{{ $.Values.image.beaconImage }}:{{ $.Values.image.versionTag }}"
        args:
        - lighthouse
        {{- if $.Values.ethereumTestnet }}
        - --network={{ $.Values.ethereumTestnet }}
        {{- end }}
        - bn
        - --staking
        - --http-address=0.0.0.0
        - --eth1-endpoints={{ .eth1Endpoints | join "," }}
        - --datadir=/data/lighthouse/beacon
        - --metrics
        - --metrics-address=0.0.0.0
        ports:
        - containerPort: 9000
          hostPort: 9000
          protocol: TCP
        - containerPort: 9000
          hostPort: 9000
          protocol: UDP
        - containerPort: 5052
          protocol: TCP
        - containerPort: 5054
          protocol: TCP
          name: metrics
        volumeMounts:
        - name: beacon-storage
          mountPath: /data/lighthouse/beacon
      volumes:
      - name: beacon-storage
        {{- if eq $.Values.persistentVolumeType "nfs" }}
        nfs:
          path: {{ .dataDirPath }}
          server: {{ $.Values.nfs.serverIp }}
          readOnly: false
        {{- else }}
        hostPath:
          path: {{ .dataDirPath }}
        {{- end }}
      securityContext:
        {{- toYaml $.Values.securityContext | nindent 8 }}
      serviceAccountName: beacon
      restartPolicy: Always
{{- end }}
